<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        sans: ['Inter var', ...defaultTheme.fontFamily.sans],
                    },
                }
            }
        }
    </script>
</head>

<body class="antialiased">
<div class="prose max-w-none mx-auto my-5 ">

    <div class="flex flex-nowrap justify-center">
        <div class="grid grid-rows-auto gap-0">

            <!-- School Header Starts-->
            <div id="schoolHeader" class="flex justify-around items-center px-3 gap-4">
                <img class="w-24  rounded" src="https://via.placeholder.com/150"
                     alt="school logo">

                <div class="grid grid-rows-auto gap-1 py-2 text-center rounded ">
                    <span class="text-3xl font-semibold uppercase">Traiblazers Academy</span>
                    <span class="text-base">
                        Motto: School very lenthy motto goes here <br>
                        School Address with the full street name goes here <br>
                        Tel: 070xxxxxxxxx, 090xxxxxxxxx <br>
                    </span>
                    <span class="text-1xl font-semibold uppercase">Report Sheet</span>
                </div>

                <img class="w-24 rounded" src="https://via.placeholder.com/150"
                     alt="student photo">
            </div>
            <!-- School Header Ends-->

            <!-- Student Profile Starts-->


            <!-- Academic Record Starts-->
            <div id="academicRecord" class="grid grid-flow-row auto-rows-max hover:auto-rows-min  prose-table:my-1 p-7 gap-2"
                 th:each="report : ${reports.data}>
                <!-- Subject Scores Starts -->
                <table class="table-fixed border-collapse border border-slate-400 text-center uppercase font-semibold">
                    <thead>
                    <tr>
                        <th class="border border-slate-400 text-sm">No</th>
                        <th class="border border-slate-400 text-sm">Influencer</th>
                        <th class="border border-slate-400 text-sm">link</th>
                        <th class="border border-slate-400 text-sm">commment</th>
                        <th class="border border-slate-400 text-sm">like</th>
                        <th class="border border-slate-400 text-sm">share</th>
                        <th class="border border-slate-400 text-sm">save</th>
                        <th class="border border-slate-400 text-sm">impression</th>
                        <th class="border border-slate-400 text-sm">reach</th>
                        <th class="border border-slate-400 text-sm">view</th>
                        <th class="border border-slate-400 text-sm">create date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="border border-slate-400 text-sm"><span>1</span></td>
                        <td class="border border-slate-400 text-sm"><span>ENGLISH</span></td>
                        <td class="border border-slate-400 text-sm"><span>10</span></td>
                        <td class="border border-slate-400 text-sm"><span>12</span></td>
                        <td class="border border-slate-400 text-sm"><span>15</span></td>
                        <td class="border border-slate-400 text-sm"><span>37</span></td>
                        <td class="border border-slate-400 text-sm"><span>28</span></td>
                        <td class="border border-slate-400 text-sm"><span>65</span></td>
                        <td class="border border-slate-400 text-sm"><span>68</span></td>
                        <td class="border border-slate-400 text-sm"><span>72</span></td>
                        <td class="border border-slate-400 text-sm"><span>71.2</span></td>
                    </tr>
                    </tbody>
                </table>
                <!-- Subject Scores Starts -->



            </div>

        </div>
    </div>
</div>
</body>

</html>