<!DOCTYPE html>
<html>
<head>
    <title>My Contract</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      /* Add some styles for the page */
	  header{
		background: url('/images/bgContract3.png');
		background-size: cover;
		width: 100%;
		}

      .feed {
        display: flex;
        flex-wrap: wrap;
		float:left;
		width: calc(33.33% - 20px);
      }

      .post {
        padding: 15px;
        background-color: #ffd639;
        margin: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        border-radius: 10px;
      }

      .post img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .post .info {
        padding: 20px;
      }

      .post h2 {
        font-size: 24px;
        margin: 20px 0;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .post p {
        font-size: 18px;
        color: #333;
        margin: 0;
        line-height: 1.5;


	  .stats {
        display: flex;
        justify-content: space-around;
        margin: 40px 0;
      }

      /* Add responsive styles for mobile devices */
      @media (max-width: 768px) {
        .container {
          width: 100%;
          padding: 20px;
        }

        .feed {
          flex-direction: column;
        }

        .post {
          width: 100%;
        }
      }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
		$(document).ready(function(){
			$(".profile .icon_wrap").click(function(){
			  $(this).parent().toggleClass("active");
			  $(".notifications").removeClass("active");
			});

			$(".notifications .icon_wrap").click(function(){
			  $(this).parent().toggleClass("active");
			   $(".profile").removeClass("active");
			});

			$(".show_all .link").click(function(){
			  $(".notifications").removeClass("active");
			  $(".popup").show();
			});

			$(".close").click(function(){
			  $(".popup").hide();
			});
		});
	</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css" >
    <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
    <script defer src="script.js"></script>
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
            integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
            crossorigin="anonymous"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
            crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.8/dist/sweetalert2.all.min.js"
            integrity="sha256-voaY/mFuF2+Kg/L56O9wmuwvhHf3XcaxCI/Ld9UR+d4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.8/dist/sweetalert2.min.js"
            integrity="sha256-UEAn96ePJjqidezAU7lnOYeJEArgg4hsNGbwqmcyPrY=" crossorigin="anonymous"></script>
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
            integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
            crossorigin="anonymous"
    />
</head>
<body style="background-color: #dcc295;">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg sticky-top navbar-light " style = "background-color: #ffba78;">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="nav navbar-nav mb-2 mb-lg-0 ">
                <li class="nav-item  active " >
                    <a href="/" class=" nav-link active d-flex align-items-center" >
                        <img src="/images/logo-bg.png" width="5%" class="d-md-block"  >
                        <div class="text-start">
                            <strong class="d-block">One</strong>
                            <small>Management</small>
                        </div>
                    </a>
                </li>
                <li class="nav-item active mr-auto mr-2 float-right" >
                    <a class="nav-link active text-center" href="/campaign">
                        <i class="fas fa-palette " style="color: #ffb042;"></i>
                        <div> <strong class="d-block ">List Campaign</strong></div>
                        </i>
                    </a>
                </li>
                <li class="nav-item active mr-auto mr-2 float-right" >
                    <a class="nav-link active text-center" href="/contract">
                        <i class="fas fa-file-contract" style="color: #ffb042;"></i>
                        <div><strong class="d-block ">My Contract</strong></div>
                        </i>
                    </a>
                </li>
                <li class="nav-item active mr-auto mr-2 float-right" style=" margin-right: 10px;">
                    <a class="nav-link active text-center" href="/profile">
                        <i class="fas fa-user" style="color: #ffb042;"></i>
                        <div><strong class="d-block ">My Profile</strong></div>
                        </i>
                    </a>
                </li>
                <li class="nav-item active mr-2 mr-auto">
                    <div class="navbar_right">
                        <div class="notifications" >
                            <div class="icon_wrap" id="notifUpdate" style="margin-top: 5px;" th:each="notifRead : ${notificationRead} "><i class="far fa-bell"></i><div  th:if="${notifRead.message == 'UNREAD'}"><span  class="badge" style="background-color: #e60000; color: white;
                            font-size: 10px; padding: 1px 3px; border-radius: 50%; position: absolute;
                            top: 2px; right: -5px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);" th:text="${notifRead.data}"></span></div></div>
                            <div class="notification_dd" >
                                <ul class="notification_ul">
                                    <li class="starbucks failed" th:each="notification : ${notifications.data}">
                                        <div class="notify_data">
                                            <div class="title"th:text="${notification.message}">
                                            </div>
                                            <div class="sub_title" th:text="${notification.createDate}">
                                            </div>
                                        </div>
                                        <div class="notify_status" th:if="${notification.status == 'U'}" >
                                            <p style="font-size: 75px;">.</p>
                                        </div>
                                        <div class="notify_status" th:if="${notification.status == 'R'}" >
                                            <p style="font-size: 1px;"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <form th:action="@{/logout}" th:method="POST" id="logoutButton" class="nav-item d-flex active mr-auto mr-2 float-right">
                    <button type="button" th:onclick="logoutReq()" class="btn btn-secondary " style="color: #ffc142;">
                        <i class="fas fa-sign-out"></i>Logout</button>
                </form>
            </ul>
        </div>
    </div>
</nav>

<div class="popup">
    <div class="shadow"></div>
    <div class="inner_popup">
        <div class="notification_dd">
            <ul class="notification_ul" >
                <li class="title">
                    <p>All Notifications</p>
                    <p class="close"><i class="fas fa-times" aria-hidden="true"></i></p>
                </li>
                <li class="starbucks success" th:each="notifications : ${notificationAll.data}">
                    <div class="notify_data" >
                        <div class="title" th:text="${notifications.message}">
                        </div>
                        <div class="sub_title" th:text="${notifications.createDate}">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark" style="text-color: #ff8aae;">
            <h1 class="display-4 fw-bolder" style="color: #ffc142;">My Contract</h1>
            <p class="lead fw-normal text-dark-50 mb-0" style="color: #ffc142;">Make Sure Everything Goes Well</p>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <table id="data-table"  style="width:100%"
           class="table text-center table-striped table-bordered" >
        <thead class="" style="background-color: #9f8de7;">
        <tr>
            <th>No.</th>
            <th>Nama</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody style="background-color: #bad9ee;">
        </tbody>
    </table>
</div>
</div>


<th:block layout:fragment="script">
    <script th:inline="javascript">
        var getAll = $('#data-table').DataTable({
                ajax: {
                    url: '/contract/me',
                    dataSrc: 'data'
                },
                columns: [{
                        "data": "null",
                        render: function (data, type, row, meta) {
                            return meta.row + 1;
                        }
                    },
                    {
                        data: 'influencer.fullname'
                    },
                    {
                        data: 'startDate'
                    },
                    {
                        data: 'endDate'
                    },
                    {
                        data: 'budget'
                    },
                    {
                        data: 'contractStatus.name'
                    },
                    {
                        "data": null,
                        render: function (data, type, row, meta) {
                            if (row.contractStatus.id == 2){
                                return `<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#submit" >Submit</button>
                                <div id="submit" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                 aria-labelledby="campaignEditLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="col">
                                                <label class="form-label required-label">Link:</label>
                                                <input class="form-control" type="text" name="link" id="link" placeholder="link"
                                                       required="">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" style="color:white; background-color: #bad9ee;" data-bs-dismiss="modal">Close</button>
                                            <!--                <button type="button" class="update-submit btn btn-primary">Update</button>-->
                                            <button type="button" class="btn btn-warning" style="color:white;"  onclick="submitStatus('+ row.id +')">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                `;
                            }else if (row.contractStatus.id == 4){
                                return `
                                <button type="button" class="btn btn-warning btn-sm "style="font-size: 10px; padding: 7px 20px" >Monthly Report</button> `;
                            }else {
                            return `
                            `;
                            }
                        }
                    },
                ]
            });

            function submitStatus(id) {
                Swal.fire({
                    title: 'Submit Your link Content!',
                    text: "Thank you!",
                    icon: 'info',
                    showDenyButton: true,
                    confirmButtonColor: '#3085d6',
                    denyButtonColor: '#d33',
                    confirmButtonText: 'Yes, Send This link!',
                    denyButtonText: 'Cancel'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // document.getElementById(id).submit();
                        $('#forgotPassword').modal('hide');
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                        Swal.fire(
                            'Created!',
                            'Your account has been created, please check your Email.',
                            'success'
                        )
                        submitInfluencerProcess(id);
                    } else if (result.isDenied) {
                        Swal.fire(
                            'Canceled!',
                            'Your account has not been created.',
                            'error'
                        )
                    }
                })
            };
            function submitInfluencerProcess(id) {
                let link = $('#link').val();
                let contractId = id.toString();
                if (link != '') {
                    $.ajax({
                        method: "POST",
                        url: '/report/createReport',
                        dataType: "json",
                        data: JSON.stringify({
                            link: link,
                            contractId : id
                        }),
                        contentType: "application/json",
                        success: function (result) {
                            $('#submitStatus').modal('hide');
                           // window.location = window.location;
                        }
                    });
                    window.location = window.location;
                } else {
                    console.log("Error");
                    $('#submitStatus').modal('hide');
                    alert("Field with * is mandatory");
                }
            };

            const notifUpdate = document.getElementById('notifUpdate');

  // Add an onclick event listener
  notifUpdate.onclick = function() {
      $.ajax({
      url: '/notification/update' ,
      type: 'POST',
      success: function(response) {
      },
      error: function(error) {
        console.error(error);
      }
    });
  };

            function logoutReq() {
            Swal.fire({
            title: 'Are you sure you want to Logout?',
            icon: 'warning',
            showDenyButton: true,
            confirmButtonColor: '#3085d6',
            denyButtonColor: '#d33',
            confirmButtonText: 'Yes, log me out!',
            denyButtonText: 'No, I want to stay!'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById("logoutButton").submit();

                } else if (result.isDenied) {
                    Swal.fire(
                    'Canceled!',
                    'Welcome Back.',
                    'success'
            )
          }
        })
      }
    </script>
</th:block>

</body>

