<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
</head>

<body>

    <i layout:fragment="icon" class="bi bi-people logo"></i>
    <span layout:fragment="text-icon" class="logo__text">Daftar Employee </span>

    <section layout:fragment="content">



        <!-- Create Modal -->
        <div class="modal fade" id="modalKelas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Form Create Employee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form id="modalForm">
                            <label for="employee_name" class="form-label">Name : </label>
                            <input id="employee_name" type="text" class="form-control" />
                            <label for="employee_job" class="form-label">Job : </label>
                            <select id="employee_job" class="form-select"></select>
                            <label for="employee_email" class="form-label">Email : </label>
                            <input id="employee_email" type="email" class="form-control" />
                            <label for="employee_username" class="form-label">Username : </label>
                            <input id="employee_username" type="text" class="form-control"  />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="submitModalKelas">Simpan</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Update Modal Silabus-->
        <div class="modal fade" id="updateModalSilabus" tabindex="-1" aria-labelledby="updateModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="updateForm">
                            <label for="update_employee_id" class="form-label"></label>
                            <input id="update_employee_id" type="hidden" class="form-control"
                                placeholder="Kelas Name" />
                            <label for="update_employee_name" class="form-label">Name : </label>
                            <input id="update_employee_name" type="text" class="form-control"
                                placeholder="Kelas Name" />
                            <label for="update_employee_job" class="form-label">Job : </label>
                            <select id="update_employee_job" class="form-select"></select>
                            <label for="update_employee_email" class="form-label">Email : </label>
                            <input id="update_employee_email" type="email" class="form-control"
                                placeholder="Kelas Name" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="submitUpdateModalSilabus">Simpan</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container table__container">
            <div class="row table__wrapper">
                <!-- Create Modal -->
                <div class="button__wrapper">
                    <!-- Create Modal Button -->
                    <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal"
                        data-bs-target="#modalKelas">
                        Create
                    </button>
                </div>
                <table class="table table-striped" id="tabel_kelas">
                    <thead>
                        <tr>

                            <th>No</th>
                            <th>Nama</th>
                            <th>Job</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="count"></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>


    </section>

    <script layout:fragment="scripts">
        $('document').ready(() => {

            getAllSilabus();
            getAlljobUpdate();
        });



        //Inisialisasi data table dengan ajax
        var tb_kelas = $('#tabel_kelas').DataTable({
            ajax: {
                url: '/employee/getAll/except',
                dataSrc: 'data'
            },
            columns: [
                { data: 'id',
                render: function (data, type, row, meta) {
        return meta.row + meta.settings._iDisplayStart + 1;}
        },
                { data: 'fullname' },
                { data: 'job.title' },
                { data: 'email' },
                {
                    data: null,
                    render: function (data) {
                        return `
                        <button type="button" class="btn btn-sm btn-primary ms-2" id="btnEditModal" data-bs-toggle="modal" data-bs-target="#updateModalSilabus"
              onclick='getDataSilabusById(${data.id})'>
               Update
                  </button>
                    <button class="btn btn-sm btn-danger" href="/employee/delete/${data.id}" id="deleteBtn" type="button" onclick="deleteSilabusById(${data.id})">Delete</button>`;
                    }
                }
            ],
            "filter": false,
            "ordering": false,
            "lengthChange": false,
            "language": {
                "info": "_START_ - _END_ of _TOTAL_ items",
                "infoEmpty": "0 to 0 of 0 items",
                "infoFiltered": "(filtered from _MAX_ items)",
            }
        });

       


        function getAllSilabus() {
            $.ajax({
                type: "GET",
                url: "/job/getAll/except",
                data: "data",
                dataType: "json",
                success: function (response) {
                    let row = "";
                    response.data.forEach(data => {
                            
                            row += `
                            <option value=${data.id}>${data.title}</option>
                        
                        
                        `
                    });

                    $('#employee_job').append(row);
                }
            });
        }
        
        function getAlljobUpdate() {
            $.ajax({
                type: "GET",
                url: "/job/getAll/except",
                data: "data",
                dataType: "json",
                success: function (response) {
                    let row = "";
                    response.data.forEach(data => {
                            
                            row += `
                            <option value=${data.id}>${data.title}</option>
                        
                        
                        `
                    });

                    $('#update_employee_job').append(row);
                }
            });
        }

        $('#submitModalKelas').click((e) => {
            e.preventDefault();
            submitCreateModalKelas();
        });

        $('#submitUpdateModalSilabus').click((e) => {
            e.preventDefault();
            submitUpdateModalSilabus();
        });


        function submitCreateModalKelas() {
            var kelas_tipe = $('#employee_name').val();
            var kelas_silabus = $('#employee_job').val();
            var kelas_startDate = $('#employee_email').val();
            var emp_username = $('#employee_username').val();
            if (kelas_tipe == '' || kelas_startDate == '' || emp_username == '') {
                errorSweetAlert('All Fields is Required.')
            } else {
                if(kelas_tipe.length > 40 || kelas_startDate.length > 40 || emp_username.length > 40){
                    errorSweetAlert('All Fields Must Contain a Maximum of 40 Characters.')
                } else {
                    if(kelas_startDate.includes("@") && kelas_startDate.includes(".")){
                         $.ajax({
                    type: "POST",
                    url: "/employee/create",
                    dataType: "json",
                    data: JSON.stringify({
                        fullname : kelas_tipe,
                        jobId : kelas_silabus,
                        email : kelas_startDate,
                        username : emp_username
                    }),
                    contentType: "application/json",
                    success: function (result) {
                        $('#modalKelas').modal("hide");
                        $('.modal-backdrop').remove();
                        tb_kelas.ajax.reload();
                        customSweetAlert(result.message);
                    }
                    
                });
                    } else {
                        errorSweetAlert('Email Fields Must In Email Format (Example : john@doe.com).')
                    }
                }
                
            }
        }

        function submitUpdateModalSilabus() {
            var kelas_name = $('#update_employee_id').val();
            var kelas_tipe = $('#update_employee_name').val();
            var kelas_silabus = $('#update_employee_job').val();
            var kelas_startDate = $('#update_employee_email').val();
            if (kelas_tipe == '' || kelas_startDate == '') {
                errorSweetAlert('All Field is Required.')
            } else {
                if(kelas_tipe.length > 40 || kelas_startDate.length > 40){
                    errorSweetAlert('All Fields Must Contain a Maximum of 40 Characters.')
                } else {
                    if(kelas_startDate.includes("@") && kelas_startDate.includes(".")){
                        $.ajax({
                    type: "PUT",
                    url: "/employee/update/" + kelas_name,
                    dataType: "json",
                    data: JSON.stringify({
                        id: kelas_name,
                        fullname: kelas_tipe,
                        jobId: kelas_silabus,
                        email: kelas_startDate
                    }),
                    contentType: "application/json",
                    success: function (result) {
                        $('#updateModalSilabus').modal("hide");
                        $('.modal-backdrop').remove();
                        tb_kelas.ajax.reload();
                        customSweetAlert(result.message);
                    }
                });
                    
                } else {
                        errorSweetAlert('Email Fields Must In Email Format (Example : john@doe.com).')
                    }
                }
                
            }
        }

        function deleteSilabusById(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showDenyButton: true,
                confirmButtonColor: '#3085d6',
                denyButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                denyButtonText: 'Batalkan'
            }).then((result) => {
                if (result.isConfirmed) {
                    deleteData('/employee/delete/' + id);
                } else if (result.isDenied) {
                    Swal.fire(
                        'Canceled!',
                        'Your data has not been deleted.',
                        'success'
                    )
                }
            })
        }


        function getDataSilabusById(id) {
            $.ajax({
                type: "GET",
                url: "/employee/" + id,
                dataType: "JSON",
                success: function (response) {
                    var x = response.data;
                    $("#update_employee_id").val(x.id);
                    $("#update_employee_name").val(x.fullname);
                    $("#update_employee_email").val(x.email);
                    $("#update_employee_job").val(x.job.id);
                },
            });
        }

        function deleteData(end_point) {
            $.ajax({
                type: "DELETE",
                url: end_point,
                dataType: "json",
                success: function (result) {
                    tb_kelas.ajax.reload();
                    customSweetAlert(result.message);
                }
            });
        }

        function customSweetAlert(msg) {
            Swal.fire(
                'Task Success',
                msg,
                'success'
            ).then(() => {
                $("body").removeAttr("style");
            });
        }
        
        function errorSweetAlert(msg) {
            Swal.fire(
                'Task Error',
                msg,
                'error'
            ).then(() => {
                $("body").removeAttr("style");
            });
        }


    </script>

</body>

</html>