<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
</head>

<body>
    <section layout:fragment="content">
        <p>Daftar Employee</p>
        <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#modalcreate">
            Create Employee (Modal)
        </button>
        <a th:href="@{/employee/add}" class="float-center btn" ><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span>Add Data</button></a>
        <div class="modal fade" id="modalcreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Form Create Employee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form novalidate th:action="@{/employee/add}" th:object="${employee}" th:method="POST">
            <label for="id">ID : </label>
            <input class="form-control form-control-sm" type="number" th:field="*{id}" placeholder="employee id" /><br>
                            <label for="name">Name : </label>
            <input class="form-control form-control-sm" type="text" th:field="*{fullname}" placeholder="employee full name" /><br>
            <label for="name">Email : </label>
            <input class="form-control form-control-sm" type="email" th:field="*{email}" placeholder="employee email" /><br>
            <label for="job">Job : </label>
            <input class="form-control form-control-sm" type="text" th:field="*{job.id}" placeholder="employee job" /><br>
            
<!--            <div class="input-group-append">
            <button class="boton btn btn-sm btn-outline-white my-0" type="submit" th:value="Submit">Submit</button>
            <a style="color: black">* is required</a>
          </div>-->
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> <br>
            <button type="submit" th:value="Submit" class="btn btn-primary" >Simpan</button>
        </form>
                    </div>
                    <div class="modal-footer">
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <div id="regionEdit" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="regionEditLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="regionEditLabel">Region Edit</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
<!--                        <input type="hidden" id="edit_id">
                        <div class="error-message">
                        </div>-->
                        <div class="col">
                            <label class="form-label ">ID : </label>
                            <input class="form-control" type="number" name="id" id="edit_id" placeholder="Employee id"
                                required="">
                        </div>
                        <div class="col">
                            <label class="form-label ">Name:</label>
                            <input class="form-control" type="text" name="name" id="edit_name" placeholder="Employee name"
                                required="">
                        </div>
                        <div class="col">
                            <label class="form-label ">Job :</label>
                            <input class="form-control" type="text" name="job.id" id="edit_job" placeholder="Employee job"
                               >
                        </div>
                        <div class="col">
                            <label class="form-label ">Email :</label>
                            <input class="form-control" type="email" name="email" id="edit_email" placeholder="Employee name"
                                required="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="update-submit btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="modal fade" id="modalupdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Form Edit Employee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form novalidate th:action="@{/employee/edit/{id} (id = ${employee.id})}" th:object="${employee}" th:method="PUT">
            <label for="id">ID : </label>
            <input class="form-control form-control-sm" type="number" th:field="*{id}" placeholder="employee id" /><br>
                            <label for="name">Name : </label>
            <input class="form-control form-control-sm" type="text" th:field="*{fullname}" placeholder="employee full name" /><br>
            <label for="name">Email : </label>
            <input class="form-control form-control-sm" type="email" th:field="*{email}" placeholder="employee email" /><br>
            <label for="job">Job : </label>
            <input class="form-control form-control-sm" type="text" th:field="*{job.id}" placeholder="employee job" /><br>
            
            <div class="input-group-append">
            <button class="boton btn btn-sm btn-outline-white my-0" type="submit" th:value="Submit">Submit</button>
            <a style="color: black">* is required</a>
          </div>
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> <br>
            <button type="submit" th:value="Submit" class="btn btn-primary" >Simpan</button>
        </form>
                    </div>
                    <div class="modal-footer">
                        
                    </div>
                    
                </div>
            </div>
        </div>-->
        <div class="wrapper-table">

            <table class="table table-striped" id="tabel_silabus">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Job</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="employee : ${employees.data}">
                    <td th:text="${employee.id}">Employee Id</td>
                    <td th:text="${employee.fullname}">Employee Email</td>
                    <td th:text="${employee.email}">Employee Email</td>
                    <td th:text="${employee.job.title}">Employee Email</td>
                    <td>
                        <a th:href="@{/employee/edit/{id} (id = ${employee.id})}"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit">Edit</button></a>
<!--                        <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#modalupdate">
            Edit (Modal)
        </button>-->
                        <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                data-bs-target="#regionEdit" onclick="editById(${employee.id})">
                                Edit
                            </button>
                        <form 
                            th:action="@{/employee/delete/{id} (id = ${employee.id})}" 
                            th:method="DELETE"
                            th:id="${employee.id}">
                            <button type="submit" class="btn btn-danger btn-xs" th:id="${employee.id}" th:onclick="deleteById(this.getAttribute('id'))">Delete</button>
                        </form>
                        </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <script th:inline="javascript">
        $(".update-submit").click(function (e) {
                e.preventDefault();
                let id = $('#edit_id').val();
                let name = $('#edit_name').val();
                let job = $('#edit_job').val();
                let email = $('#edit_email').val();

                if (name != '') {
                    $.ajax({
                        method: "PUT",
                        url: '/employee/edit/' + id,
                        dataType: "json",
                        data: JSON.stringify({
                            name: name,
                            job.id: job,
                            email: email,
                        }),
                        contentType: "application/json",
                        success: function (result) {
                            $('#regionEdit').modal('hide');
                            $('.message-success').append(`
                                `);
                            $("#modalEdit").modal("hide");
                            getAll.ajax.reload();
                        }
                    });
                } else {
                    $('.error-message').append(`
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Hey!</strong> Please enter all fields.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    `);
                }
            });
            
            function editById(id) {
                $.ajax({
                    method: "GET",
                    url: '/employee/' + id,
                    dataType: "json",
                    contentType: "application/json",
                    success: function (result) {
                        console.log("SUCCESS : ", result);
                        $('#edit_id').val(`${result.data.id}`);
                        $('#edit_name').val(`${result.data.name}`);
                        $('#edit_job').val(`${result.data.job.id}`);
                        $('#edit_email').val(`${result.data.email}`);
                    }
                })
            }
        </script>
</body>

</html>