<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
</head>

<body>
    <i layout:fragment="icon" class="bi bi-book logo"></i>
    <span layout:fragment="text-icon" class="logo__text">Daftar Sub-Materi </span>

    <section layout:fragment="content">

        <!-- Create Submateri Modal -->
        <div class="modal fade" id="modalSubsubject" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Sub-Materi</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form id="modalForm">
                            <label for="subsubject_name" class="form-label">Name : </label>
                            <input id="subsubject_name" type="text" class="form-control"
                                placeholder="Subsubject Name" />
                            <label for="subsubject_persentase" class="form-label">Persentase : </label>
                            <input id="subsubject_persentase" type="text" class="form-control"
                                placeholder="Persentase" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="submitCreateModalSubsubject">Simpan</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Update Modal Subject-->
        <div class="modal fade" id="updateModalSubsubject" tabindex="-1" aria-labelledby="updateModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Update Sub-Materi</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="updateForm">
                            <input type="hidden" id="updateSubsubjectId">
                            <input type="hidden" id="updateSubsubjectSubjectId">
                            <label for="updateSubsubjectName" class="form-label">Name : </label>
                            <input id="updateSubsubjectName" type="text" class="form-control"
                                placeholder="Subject Name" />
                            <label for="updateSubsubjectPersentase" class="form-label">Persentase : </label>
                            <input id="updateSubsubjectPersentase" type="text" class="form-control"
                                placeholder="Persentase" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="submitUpdateModalSubsubject">Simpan</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container table__container">
            <div class="row table__wrapper">
                <!-- Create Modal -->
                <div class="button__wrapper">
                    <!-- Create Submateri Modal Button -->
                    <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal"
                        data-bs-target="#modalSubsubject">
                        Create Sub-Materi
                    </button>
                </div>
                <table class="table table-striped" id="tabel_subsubject">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Persentase</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>


    </section>

    <script layout:fragment="scripts">

        //Inisialisasi data table dengan ajax
        var tb_subsubject = $('#tabel_subsubject').DataTable({
            ajax: {
                url: '/subsubject/subject/' + window.location.href.split('/')[6],
                dataSrc: 'data'
            },
            columns: [
                {
                    data: null,
                    render: function (data, type, row, meta) {
                        count = meta.row + meta.settings._iDisplayStart + 1;
                        return count;
                    }
                },
                { data: 'name' },
                { data: 'persentase' },
                {
                    data: null,
                    render: function (data) {
                        return `
                        <button type="button" class="btn btn-sm btn-success ms-2" id="btnEditModal" data-bs-toggle="modal" data-bs-target="#updateModalSubsubject"
              onclick='getDataSubsubjectById(${data.id})'>
               Update
                  </button>
                    <button class="btn btn-sm btn-danger" id="deleteBtn" type="button" onclick="deleteSubsubjectById(${data.id})">Delete</button>`;
                    }
                }
            ],
            "filter": false,
            "ordering": false,
            "lengthChange": false,
            "language": {
                "info": "_START_ - _END_ of _TOTAL_ items",
                "infoEmpty": "0 to 0 of 0 items",
                "infoFiltered": "(filtered from _MAX_ items)",
            }
        });


        $('#submitCreateModalSubsubject').click((e) => {
            e.preventDefault();
            submitCreateModalSubsubject();
        });

        $('#submitUpdateModalSubsubject').click((e) => {
            e.preventDefault();
            submitUpdateModalSubsubject();
        });

        function submitCreateModalSubsubject() {
            var subsubject_name = $('#subsubject_name').val();
            var subsubject_persentase = $('#subsubject_persentase').val();
            var subject_id = window.location.href.split('/')[6];
            if (subsubject_name != '') {
                if (subsubject_persentase != '') {
                    if (!isNaN(subsubject_persentase)) {
                        $.ajax({
                            type: "POST",
                            url: "/subsubject/create",
                            dataType: "json",
                            data: JSON.stringify({
                                name: subsubject_name,
                                persentase: subsubject_persentase,
                                subjectId: subject_id
                            }),
                            contentType: "application/json",
                            success: function (result) {
                                $('#modalSubsubject').modal("hide");
                                $('.modal-backdrop').remove();
                                tb_subsubject.ajax.reload();
                                customSweetAlert(result.message);
                            }
                        });
                    } else {
                        errorSweetAlert('Subsubject Persentase must be a number.')
                    }
                } else {
                    errorSweetAlert('You are missing Subsubject Persentase.')
                }
            } else {
                errorSweetAlert('You are missing Subsubject Name.')
            }
        }

        function submitUpdateModalSubsubject() {
            var updateSubsubjectId = $('#updateSubsubjectId').val();
            var updateSubsubjectName = $('#updateSubsubjectName').val();
            var updateSubsubjectPersentase = $('#updateSubsubjectPersentase').val();
            var updateSubsubjectSubjectId = $('#updateSubsubjectSubjectId').val();

            if (updateSubsubjectName != '') {
                $.ajax({
                    type: "PUT",
                    url: "/subsubject/update/" + updateSubsubjectId,
                    dataType: "json",
                    data: JSON.stringify({
                        name: updateSubsubjectName,
                        persentase: updateSubsubjectPersentase,
                        subjectId: updateSubsubjectSubjectId
                    }),
                    contentType: "application/json",
                    success: function (result) {
                        $('#updateModalSubsubject').modal("hide");
                        $('.modal-backdrop').remove();
                        tb_subsubject.ajax.reload();
                        customSweetAlert(result.message);
                    }
                });
            } else {
                alert('You are missing subject name.')
            }
        }

        function getDataSubsubjectById(id) {
            $.ajax({
                type: "GET",
                url: "/subsubject/" + id,
                data: "data",
                dataType: "JSON",
                success: function (response) {
                    var x = response.data;
                    $("#updateSubsubjectId").val(x.id);
                    $("#updateSubsubjectName").val(x.name);
                    $("#updateSubsubjectPersentase").val(x.persentase);
                    $("#updateSubsubjectSubjectId").val(x.subject.id);
                },
            });
        }

        function deleteSubsubjectById(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showDenyButton: true,
                confirmButtonColor: '#3085d6',
                denyButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                denyButtonText: 'Batalkan'
            }).then((result) => {
                if (result.isConfirmed) {
                    deleteData('/subsubject/delete/' + id);
                } else if (result.isDenied) {
                    Swal.fire(
                        'Canceled!',
                        'Your data has not been deleted.',
                        'success'
                    )
                }
            })
        }

        function deleteData(end_point) {
            $.ajax({
                type: "DELETE",
                url: end_point,
                dataType: "json",
                success: function (result) {
                    tb_subsubject.ajax.reload();
                    customSweetAlert(result.message);
                }
            });
        }
    </script>

</body>

</html>