.background {
  background-image:url('/images/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.btnlogin {
	background-color: #d3337f;
	color: white;
	padding: 8px 182px;
}
.btnsmall {
	background-color: #d3337f;
	color: white;
	padding: 2px 4px;
}
.block{
	padding:15px;
	margin-bottom:15px;
	text-align:center !important;
	border: 1px solid #cccccc;
}
.block img {
	width: 100%;
}
.block h3{
	margin-top:0;
	padding-top:0;
}
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: none;
}