<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
</head>

<body>
  <section layout:fragment="content">

    <!-- dashboard admin -->
    <div class="container dashboard_wrapper d-flex flex-row flex-wrap" sec:authorize="hasRole('ADMIN')">
      <!-- <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sylabus</h5>
            <p class="card-text">2</p>
          </div>
        </div> -->
      </div>

  </section>
</body>
<script layout:fragment="scripts">
  $.ajax({
    type: "GET",
    url: "employee/dashboard_admin",
    data: "data",
    dataType: "json",
    success: function (response) {
      var x = response.data;
      let row1 = "";
      let row2 = "";
      let row3 = "";
      let row4 = "";
      row1 = `<div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sylabus</h5>
            <p class="card-text">${x.jmlSilabus}</p>
          </div>
        </div>`;

      row2 = `<div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Kelas</h5>
            <p class="card-text">${x.jmlClass}</p>
          </div>
        </div>`;

        row3 = `<div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Peserta</h5>
            <p class="card-text">${x.jmlPeserta}</p>
          </div>
        </div>`;

        row4 = `<div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Trainer</h5>
            <p class="card-text">${x.jmlTrainer}</p>
          </div>
        </div>`;

        $('.dashboard_wrapper').append(row1,row2,row3,row4);
    }
  });
</script>

</html>