<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Page</title>
</head>

<body>
    <section layout:fragment="content">
    <div class="wrapper">
        <form id="forgotForm">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email :</label>
                <input type="email" class="form-control" id="exampleInputEmail1">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <button type="submit" class="btn btn-primary" onclick="submitUpdateModalSilabus()">Get New Password</button>
            <a th:href="@{/login}">back</a>
        </form>
    </div>
        </section>
    
    <script layout:fragment="scripts">
$('#submitUpdateModalSilabus').click((e) => {
            e.preventDefault();
            submitUpdateModalSilabus();
        });
        
        function submitUpdateModalSilabus() {
            var input_email = $('#exampleInputEmail1').val();
            if (input_email != '') {
                $.ajax({
                    type: "POST",
                    url: "/forgot_password",
                    dataType: "json",
                    data: JSON.stringify({
                        email: input_email
                    }),
                    contentType: "application/json",
                    success: function (result) {
                        customSweetAlert(result.message);
                    }
                });
            } else {
                alert('You are missing silabus name.')
            }
        }
</script>
</body>



</html>