<!DOCTYPE html>
<html>
<style>
  .required-label::after {
    content: " *";
    color: red;
  }
</style>
<head>
	<title>Login Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
          crossorigin="anonymous">
    <link th:href="@{/css/login.css}" rel="stylesheet"></link>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
            crossorigin="anonymous">
    </script>
	<link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    >
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.8/dist/sweetalert2.all.min.js"
            integrity="sha256-voaY/mFuF2+Kg/L56O9wmuwvhHf3XcaxCI/Ld9UR+d4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.8/dist/sweetalert2.min.js"
            integrity="sha256-UEAn96ePJjqidezAU7lnOYeJEArgg4hsNGbwqmcyPrY=" crossorigin="anonymous"></script>

	<meta th:name="_csrf" th:content="${_csrf.token}" />
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
	<div class="background">
      <div class="container d-flex justify-content-center align-items-center"
      style=" min-height: 100vh ">
      	<div class="border shadow p-3 rounded"
      	      style="width: 450px;">
            <div><a href="/" ><i class="fas fa-solid fa-arrow-left" style="color: #080808;"></i><a></div>
			  <h4 class="text-center p-3">Welcome Influencer</h4>
                <p class="text-center p-3">Come Join Us To Collaborate With Many Campaign</p>
            <div id="influencer">
                <form class="login-form" th:action="@{/login}" th:method="POST" th:object="${loginRequest}">
                    <div class="mb-3">
                        <input type="text"
                               class="form-control"
                               name="username"
                               id="username" placeholder="Username" th:field="*{username}">
                    </div>
                    <div class="mb-3">
                        <input type="password"
                               name="password"
                               class="form-control"
                               id="password" placeholder="Password" th:field="*{password}">
                    </div>
                    <div align="center">
                        <button type="submit" class="btn btnlogin">LOGIN <i class="far fa-user"></i></button><br><br>
                    </div>
                </form>
            </div>
		 <div align="center">		 
		  <a>Forgot Your Password?</a><button class="btn btnsmall" data-bs-toggle="modal" data-bs-target="#forgotPassword">Click Here!</button><br><br>
		  <a>Don't have account yet? </a><button id="buttonRegistInfluencer" class="btn btnsmall" data-bs-toggle="modal" data-bs-target="#registInfluencer">Click Here!</button>
             <!--<button id="buttonRegistBrand" class="btn btnsmall" data-bs-toggle="modal" data-bs-target="#registBrand">Click Here!</button>-->
		 </div>
		</div>
      </div>
	 </div>
	 <!-- Modal Forgot Password -->
    <div id="forgotPassword" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="regionCreatedLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="regionCreatedLabel">Your New Password Will Be Send Via Email</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="error-message">
            </div>
            <div class="col">
              <label class="form-label ">Your Email:</label>
              <input class="form-control" type="email" name="email" id="email" placeholder="Your Email"
                     required="">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" style="color:white; background-color: #f67848;" data-bs-dismiss="modal">Close</button>
            <button id="forgotPasswordInfluencer" type="button" class="btn" style="color:white; background-color: #ff6e6e;" onclick="forgotPasswordInfluencer()">Get New Password</button>
          </div>
        </div>
      </div>
    </div>
	<!-- Modal Register Influencer -->
    <div id="registInfluencer" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="regionCreatedLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="registTable">Fill All the Form Below</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="error-message">
            </div>
            <div class="col">
              <label class="form-label required-label">Your Name:</label>
              <input class="form-control" type="text" name="name" id="name" placeholder="Your Full Name"
                     required="">
            </div>
            <div class="col">
              <label class="form-label required-label">Your Email:</label>
              <input class="form-control" type="email" name="emailRegist" id="emailRegist" placeholder="Your Email"
                     required="">
            </div><br>
            <div class="col">
              <label class="form-label ">Province:</label>
                <select id="influencerLocation" name="influencerLocation" onchange="sendSelectedProv()">
                    <option th:each="listProv : ${listProv.data}" th:text="${listProv.name}" th:value="${listProv.id}"></option>
                </select>
            </div>
              <div class="col">
                  <label class="form-label ">Kabupaten:</label>
                  <select id="locationKab" name="locationKab">
                  </select>
              </div>
              <div class="col">
                  <label class="form-label required-label">Detail Address:</label>
                  <input class="form-control" type="text" name="detailAddress" id="detailAddress" placeholder="Your Detail Address"
                         required="">
              </div>
            <div class="col">
              <label class="form-label ">Your Birth Date:</label>
              <input class="form-control" type="date" name="birthDate" id="birthDate" placeholder="Your Birth Date"
                     required="">
            </div>
              <br>
              <div class="col">
                  <label class="form-label ">Your Sosmed:</label>
                  <div class="col">
                      <input type="checkbox" id="myCheckbox">
                      <label for="myCheckbox">Youtube</label>
                      <div id="labelForm" style="display: none;">
                          <label for="nameYT">Link:</label>
                          <input type="text" id="nameYT" placeholder="https://youtube.com/@nama-akun">
                      </div>
                  </div>
                  <div class="col">
                      <input type="checkbox" id="myCheckbox2">
                      <label for="myCheckbox">Tiktok</label>
                      <div id="labelForm2" style="display: none;">
                          <label for="nameTT">Link:</label>
                          <input type="text" id="nameTT" placeholder="https://www.tiktok.com/@nama-akun">
                      </div>
                  </div>
                  <div class="col">
                      <input type="checkbox" id="myCheckbox3">
                      <label for="myCheckbox">Instagram</label>
                      <div id="labelForm3" style="display: none;">
                          <label for="nameIG">Link:</label>
                          <input type="text" id="nameIG" placeholder="https://instagram.com/nama-akun">
                      </div>
                  </div>
                  <div class="col">
                      <input type="checkbox" id="myCheckbox4">
                      <label for="myCheckbox">Facebook</label>
                      <div id="labelForm4" style="display: none;">
                          <label for="nameFB">Link:</label>
                          <input type="text" id="nameFB" placeholder="https://facebook.com/nama-akun">
                      </div>
                  </div>
              </div>
              <br>
            <div class="col">
              <label class="form-label required-label">Your Username:</label>
              <input class="form-control" type="text" name="usernameRegist" id="usernameRegist" placeholder="Your Username"
                     required="" maxlength="16">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" style="color:white; background-color: #f67848;" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn" style="color:white; background-color: #ff6e6e;" onclick="registInfluencer()">Create My Account</button>
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript" th:src="@{/js/login.js}"></script>
    <th:block layout:fragment="script">
      <script th:inline="javascript">
      var dropdown = document.getElementById("locationKab");
      window.onload = function() {
        fetch('/location/11')
  .then(response => response.json())
  .then(data => {
    var options = data.data;
    for (var i = 0; i < options.length; i++) {
      var option = document.createElement("option");
      option.value = options[i].name;
      option.text = options[i].name;
      dropdown.add(option);
    }
  })
  .catch(error => console.error(error));
        };


      function sendSelectedProv() {
      dropdown.innerHTML = "";
  var selectedOption = document.getElementById("influencerLocation").value;
  fetch('/location/' + selectedOption)
  .then(response => response.json())
  .then(data => {
    var options = data.data;
    for (var i = 0; i < options.length; i++) {
      var option = document.createElement("option");
      option.value = options[i].name;
      option.text = options[i].name;
      dropdown.add(option);
    }
  })
  .catch(error => console.error(error));
};

        function forgotPasswordInfluencerProcess() {
                let email = $('#email').val();
                if (email != '') {
                    $.ajax({
                        method: "PUT",
                        url: '/register/influencer/forgot',
                        dataType: "json",
                        data: JSON.stringify({
                            email: email
                        }),
                        contentType: "application/json",
                        success: function (result) {
                            console.log("SUCCESS : ", result);
                            $('#forgotPassword').modal('hide');
                            window.location = window.location;
                        }
                    });
                } else {
                    console.log("Error");
                    $('#forgotPassword').modal('hide');
                }
            };

            function registInfluencerProcess() {
                let email = $('#emailRegist').val();
                let fullname = $('#name').val();
                let province = $('#influencerLocation').val();
                let city = $('#locationKab').val();
                let birthDate = $('#birthDate').val();
                let username = $('#usernameRegist').val();
                let detailAddress = $('#detailAddress').val();
                let youtube = $('#nameYT').val();
                let tiktok = $('#nameTT').val();
                let instagram = $('#nameIG').val();
                let facebook = $('#nameFB').val();
                if (email != '' && fullname != '' && username != '' && detailAddress !='') {
                    $.ajax({
                        method: "POST",
                        url: '/register/influencer',
                        dataType: "json",
                        data: JSON.stringify({
                            email: email,
                            fullname: fullname,
                            province: province,
                            city: city,
                            birthDate: birthDate,
                            username: username,
                            detailAddress: detailAddress,
                            youtube: youtube,
                            tiktok: tiktok,
                            instagram: instagram,
                            facebook: facebook,

                        }),
                        contentType: "application/json",
                        success: function (result) {
                            console.log("SUCCESS : ", result);
                            $('#registInfluencer').modal('hide');
                            window.location = window.location;
                        }
                    });
                    window.location = window.location;
                } else {
                    console.log("Error");
                    $('#registInfluencer').modal('hide');
                    alert("Field with * is mandatory");
                }
            };

        function forgotPasswordInfluencer() {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Your Password Will Change and It Will Send Via Email!",
                    icon: 'info',
                    showDenyButton: true,
                    confirmButtonColor: '#3085d6',
                    denyButtonColor: '#d33',
                    confirmButtonText: 'Yes, change my password!',
                    denyButtonText: 'Cancel'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // document.getElementById(id).submit();
                        $('#forgotPassword').modal('hide');
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                        Swal.fire(
                            'Updated!',
                            'Your password has been updated, please check your Email.',
                            'success'
                        )
                        forgotPasswordInfluencerProcess();
                    } else if (result.isDenied) {
                        Swal.fire(
                            'Canceled!',
                            'Your password has not been updated.',
                            'error'
                        )
                    }
                })
            };

            function registInfluencer() {
                Swal.fire({
                    title: 'We Will Create an Account For You!',
                    text: "Your Password Will Send Via Email!",
                    icon: 'info',
                    showDenyButton: true,
                    confirmButtonColor: '#3085d6',
                    denyButtonColor: '#d33',
                    confirmButtonText: 'Yes, Make My Account!',
                    denyButtonText: 'Cancel'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // document.getElementById(id).submit();
                        $('#forgotPassword').modal('hide');
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                        Swal.fire(
                            'Created!',
                            'Your account has been created, please check your Email.',
                            'success'
                        )
                        registInfluencerProcess();
                    } else if (result.isDenied) {
                        Swal.fire(
                            'Canceled!',
                            'Your account has not been created.',
                            'error'
                        )
                    }
                })
            };
            const checkbox = document.getElementById('myCheckbox');
			const checkbox2 = document.getElementById('myCheckbox2');
			const checkbox3 = document.getElementById('myCheckbox3');
			const checkbox4 = document.getElementById('myCheckbox4');
			const labelForm = document.getElementById('labelForm');
			const labelForm2 = document.getElementById('labelForm2');
			const labelForm3 = document.getElementById('labelForm3');
			const labelForm4 = document.getElementById('labelForm4');

			checkbox.addEventListener('click', function() {
			  if (checkbox.checked) {
				labelForm.style.display = 'block';
			  } else {
				labelForm.style.display = 'none';
			  }
			});
			checkbox2.addEventListener('click', function() {
			  if (checkbox2.checked) {
				labelForm2.style.display = 'block';
			  } else {
				labelForm2.style.display = 'none';
			  }
			});
			checkbox3.addEventListener('click', function() {
			  if (checkbox3.checked) {
				labelForm3.style.display = 'block';
			  } else {
				labelForm3.style.display = 'none';
			  }
			});
			checkbox4.addEventListener('click', function() {
			  if (checkbox4.checked) {
				labelForm4.style.display = 'block';
			  } else {
				labelForm4.style.display = 'none';
			  }
			});
    </script>
    </th:block>
</body>
</html>